@charset "utf-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {border: 0 none;font-size: 100%;font-style: inherit;font-weight: inherit;margin: 0;outline: 0 none;padding: 0;vertical-align: baseline;}
html{height: 100%;}
body {background: #fff none repeat scroll 0 0;color: #000;font-family:"STXihei","Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;min-height: 100%;}
ol,ul {list-style: outside none none;}
table {border-collapse: collapse;border-spacing: 0;vertical-align: middle;}
caption,th,td {font-weight: normal;vertical-align: middle;}
a {text-decoration: none;}
a:hover{text-decoration: none;}
a img {border: medium none;}
* {-webkit-tap-highlight-color:transparent;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
*:before,*:after{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-ms-box-sizing: border-box;}
input:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px white inset; } 
input{-webkit-appearance: none;}
input[type="button"]{padding:0;}
.hide {display: none;}
.show {display: block;}

/*1px 边框*/
.one_px_border{width:100%;position: relative;}
.one_px_border:before {content: " ";position: absolute;left: 0;top: 0;width: 100%;height: 1px;border-top: 1px solid #D9D9D9;color: #D9D9D9;-webkit-transform-origin: 0 0;transform-origin: 0 0;-webkit-transform: scaleY(0.5);transform: scaleY(0.5);}
.one_px_border:after {content: " ";position: absolute;left: 0;bottom: 0;width: 100%;height: 1px;border-bottom: 1px solid #D9D9D9;color: #D9D9D9;-webkit-transform-origin: 0 100%;transform-origin: 0 100%;-webkit-transform: scaleY(0.5);transform: scaleY(0.5);}

/*body scroll*/
#body-wrapper{position: absolute;z-index: 1;top: 0px;bottom: 0px;left: 0;width: 100%;overflow: hidden;}
#body-wrapper>div{position: absolute;z-index: 1;-webkit-tap-highlight-color: rgba(0,0,0,0);width: 100%;-webkit-transform: translateZ(0);-moz-transform: translateZ(0);-ms-transform: translateZ(0);-o-transform: translateZ(0);transform: translateZ(0);-webkit-touch-callout: none;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-text-size-adjust: none;-moz-text-size-adjust: none;-ms-text-size-adjust: none;-o-text-size-adjust: none;text-size-adjust: none;}

@-webkit-keyframes animDialog {
 from{-webkit-transform: scale(.05);transform: scale(.05);}
 to{-webkit-transform: scale(1);transform: scale(1);}
}
@keyframes animDialog {
  from{-webkit-transform: scale(.05);transform: scale(.05);}
  to{-webkit-transform: scale(1);transform: scale(1);}
}

/* media */
/* 横屏 */
@media screen and (orientation:landscape){
    
}
/* 竖屏 */
@media screen and (orientation:portrait){
    
}
/* 窗口宽度<960,设计宽度=768 */
@media screen and (max-width:959px){
    
}
/* 窗口宽度<768,设计宽度=640 */
@media screen and (max-width:767px){
    
}
/* 窗口宽度<640,设计宽度=480 */
@media screen and (max-width:639px){
    
}
/* 窗口宽度<480,设计宽度=320 */
@media screen and (max-width:479px){
    
}
/* windows UI 贴靠 */
@media screen and (-ms-view-state:snapped){
    
}
/* 打印 */
@media print{
    
}

/*提示*/
.tips {position: fixed;top: 45%;left: 50%;transform: translate(-50%, -50%);background: rgba(0, 0, 0, .7);padding: 10px 15px;z-index: 20;font-size: 15px;color: #fff;border-radius: 3px;word-break: break-all;display: none;line-height: 30px;}
.tips_show {display: block;}
.tips_center{text-align: center;max-width:40%;}
.tips_left{text-align: left;width:236px;}